<launch>  
	<!-- FrameSegmentation -->
	<node pkg="pointcloud_segmentation" name="image_segmentation" type="image_segmentation.py" output="screen" />

	<!-- PointCloudFiltering -->
	<!-- <node pkg="pointcloud_segmentation" name="pointcloud_filtering" type="pointcloud_filtering" output="screen" /> -->

	<!-- OrbSlam3  -->
	<node pkg="ORB_SLAM3" name="ORB_SLAM3" type="RGBD" args="$(find ORB_SLAM3)/../../../Vocabulary/ORBvoc.bin /home/visualbehavior/Documents/ZED/params/stereo/zed.yaml  /camera/rgb/image_raw:=/zed/zed_node/rgb/image_rect_color /camera/depth_registered/image_raw:=/zed/zed_node/depth/depth_registered" output="screen" />

	<!-- Run other launch file -->
    <include file="$(find ORB_SLAM3)/launch/Octomap.launch" />
	<include file="$(find ORB_SLAM3)/launch/transform.launch" />
	<!-- <node pkg="rviz" name="rviz" type="rviz" /> --> 
	
</launch>
