<launch>  

	<!-- orb slam  -->
	<node pkg="ORB_SLAM3" name="ORB_SLAM3" type="Stereo" launch-prefix="gdb -ex run --args" args="$(find ORB_SLAM3)/../../../Vocabulary/ORBvoc.bin /home/visualbehavior/Documents/ZED/params/stereo/zed2.yaml false  /camera/left/image_raw:=/zed2/zed_node/left/image_rect_color /camera/right/image_raw:=/zed2/zed_node/right/image_rect_color" output="screen" />

	<!-- Run other launch file -->
    <include file="$(find ORB_SLAM3)/launch/Octomap.launch" />
	<include file="$(find ORB_SLAM3)/launch/transform.launch" />
	<!-- <node pkg="rviz" name="rviz" type="rviz" /> --> 
	
</launch>
